{% extends "index.html" %}



{% block content %}

    <h1 style="text-align: center;">Jelszóváltás</h1>

    <form class="new-password-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            <div class="new-password-old">
                {{ form.old_password(class="old-password") }}
            </div>
            <div class="new-password-new">
                {{ form.new_password(class="new-password") }}
            </div>
            <div class="new-password-new-confirm">
                {{ form.new_password_confirm(class="new-password-confirm") }}
            </div>
            <div class="new-password-submit">
                {{ form.submit(class="new-submit") }}
            </div>
        </div>
    </form>


{% endblock content %}