body {
    background-color: lightblue;
}


#login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.login-rect, .register-rect {
    border: 3px solid black;
    background: rgba(31, 30, 27, 0.5);
    width: 800px;
    height: 600px;
    transform: translateX(calc(50% + 150px)) translateY(calc(20%));
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);

}


.login-title {
    font-style: italic;
    font-size: 32px;
    color: white;
    text-align: center;
}


.login-username {
    position: absolute;
    width: 500px;
    left: 15%;
    top: 15%;
    font-size: 24px;
    border-radius: 10px;
}


.login-card-number {
    position: absolute;
    width: 500px;
    left: 15%;
    top: 35%;
    font-size: 24px;
    border-radius: 10px;
}


.login-password {
    position: absolute;
    width: 500px;
    left: 15%;
    top: 55%;
    font-size: 24px;
    border-radius: 10px;
}


.login-button {
    position: absolute;
    left: calc(50% - 100px);
    top: 75%;
    font-size: 24px;
    border-radius: 8px;
}


.login-button:hover {
    background-color: gray;
}

.login-button:active {
    margin-top: 2px;
}



.error-code {
    color: red;
    position: relative;
    transform: translateY(300px) translateX(220px);
    font-size: 16px;
}


#register-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.register-title {
    font-style: italic;
    font-size: 32px;
    color: white;
    text-align: center;
}


.register-username {
    position: absolute;
    width: 300px;
    left: 10%;
    top: 15%;
    font-size: 24px;
    border-radius: 10px;
}


.register-email {
    position: absolute;
    width: 300px;
    right: 10%;
    top: 15%;
    font-size: 24px;
    border-radius: 10px;
}


.register-phone {
    position: absolute;
    width: 300px;
    left: 10%;
    top: 30%;
    font-size: 24px;
    border-radius: 10px;
}


.register-birth-label {
    position: absolute;
    right: 10%;
    top: 25%;
    font-size: 20px;
    color: white;
}


.register-birth {
    position: absolute;
    width: 300px;
    right: 10%;
    top: 30%;
    font-size: 24px;
    border-radius: 10px;
}


.register-password {
    position: absolute;
    width: 300px;
    top: 45%;
    left: 10%;
    font-size: 24px;
    border-radius: 10px;
}


.register-password-confirm {
    position: absolute;
    width: 300px;
    right: 10%;
    top: 45%;
    font-size: 24px;
    border-radius: 10px;
}


.register-privacy {
    position: absolute;
    border-radius: 2px;
    left: 10%;
    top: 55%;
}

.register-privacy-label {
    position: absolute;
    left: calc(15% - 15px);
    top: calc(55% - 5px);
    color: white;
    user-select: none;
}

.register-privacy-label-link {
    position: absolute;
    left: 25%;
    top: calc(55% - 5px);
    color: white;
}

.register-button {
    position: absolute;
    width: 150px;
    left: calc(50% - 70px);
    top: 70%;
    font-size: 22px;
    border-radius: 10px;
}

.register-button:hover {
    background-color: gray;
}


.register-button:active {
    margin-top: 2px;
}


.privacy-title {
    font-size: 32px;
    text-align: center;
}


.security-title {
    text-align: center;
}

.security-form {
    position: absolute;
    left: 35%;
    top: 30%;
}


.security-background {
    height: 200px;
    width: 600px;
}


.security-password-background {
    position: relative;
    text-align: center;
    top: 10%;
}

.security-submit-background {
    position: relative;
    text-align: center;
    top: 20%;
}

.security-password {
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.security-submit {
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
}

.information-card {
    position: absolute;
    width: calc(50% - 350px);
    height: calc(50% - 150px);
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    background-color: #4a34ba;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


#card_chip {
    position: absolute;
    left: 10%;
    top: 10%;
}


.information-bankname {
    position: absolute;
    font-size: 34px;
    color: white;
    right: 5%;
    top: 5%;
    user-select: none;
}

.information-name {
    position: absolute;
    font-size: 26px;
    color: white;
    left: 5%;
    top: 80%;
    user-select: none;
}

.information-card-id {
    position: absolute;
    font-size: 44px;
    color: white;
    left: 25%;
    top: 50%;
}

.information-cvc-code {
    position: absolute;
    font-size: 24px;
    color: white;
    right: 10%;
    top: 80%;
    user-select: none;
}

.information-balance {
    position: absolute;
    font-size: 24px;
    color: white;
    right: 35%;
    top: 80%;
    user-select: none;
}


.new-password-form {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
}

.new-password-old, .new-password-new, .new-password-new-confirm {
    margin-bottom: 50px;
}


.old-password, .new-password, .new-password-confirm {
    width: 300px;
    font-size: 24px;
    border-radius: 10px;
}

.new-submit {
    width: 200px;
    font-size: 24px;
    border-radius: 5px;
}

.new-password-submit {
    transform: translateX(50px);
}


.transfer-panel {
    position: absolute;
    width: 700px;
    height: 200px;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
}

.transfer-card-number-item, .transfer-cvc-code-item, .transfer-to-card-number-item, .transfer-money-item, .transfer-submit-item {
    margin-bottom: 20px;
}

.transfer-card-number {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px;
    font-size: 22px;
    border-radius: 10px;
}

.transfer-cvc-code {
    position: absolute;
    top: 10%;
    left: calc(55% - 15px);
    width: 100px;
    font-size: 22px;
    border-radius: 10px;
}


.transfer-to-card-number {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 22px;
    border-radius: 10px;
    width: 400px;
}

.transfer-money {
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 22px;
    border-radius: 10px;
    width: 150px;
}


.transfer-submit {
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 22px;
    border-radius: 10px;
    width: 200px;
}